*{
	 font-family: 'Bebas Neue';
}

body{
	background-color:dimgrey;
	margin:0;
	padding:0;
}

::selection {
    background-color: gold;  /* Złote tło */
    color: black;            /* Czarny tekst */
}


header{
	background-image: url('tloHeader.jpg');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
	height:600px;
}



.logoheader1{
	border:2px solid white;
	padding:10px;
	margin:10px;
	size:10px;
}
	
.menu{
	font-size:28px;
	padding:3px;
	margin:40px;
	letter-spacing:1px;
    text-decoration: none;
	color: #D3D3D3; 
    transition: color 0.4s ease; 
	position: relative;
    top: -68px;   
    left: 70px; 
	

}

.menu:hover{
	color: white;
	text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
	transition: text-shadow 0.2s ease-in-out;	
}

.menudiv{
	font-size: 24px;
	text-align:center;
}

h1{
	color:white;
	letter-spacing:2px;
}

h3{
	color:lightgray;
	letter-spacing:1px;
}

.custom-list{
	list-style-type: none;
	font-size:19px;
	padding:10px;
	margin:20px;
	letter-spacing:1px;
    text-decoration: none;
	color:white;
}



.zdjeciawmenu1{
	width:20px;
	height:20px;
	position: relative; 
	top: 2px; 
	left:-2px; 
}


.zdjeciawmenu2{
	width:20px;
	height:20px;
	position: relative; 
	top: 3px; 
	left:0px;
}

.zdjeciawmenu3{
	width:18px;
	height:18px;
	position: relative; 
	top: 3px; 
	left:0px;
}



.button1{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 6px 18px;
    font-size: 24px;
	text-align:center;
    text-decoration: none; 
    cursor: pointer;
    display: inline-block;
    transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out, color 0.4s ease-in-out;
	letter-spacing:2px;
	position: relative;
    top: -69px;   
    left: 90px; 
}

.button1:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
}

.button2{
	background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 6px 18px;
    font-size: 15px;
    text-decoration: none; 
    cursor: pointer;
    display: inline-block;
    transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out, color 0.4s ease-in-out;
	letter-spacing:2px;
	position: relative;
}

.button2:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
}
	
	
footer{
	background-color:black;
	color:white;
	text-align:center;
	padding:5px;
	margin-top:10px;
}

.logoheader2{
	border:2px solid white;
	padding:10px;
	margin:10px;
	position: relative; 
	top: 20px; 
	left:625px; 
}

.zdjeciafooter{
	position: relative; 
	top: -200px; 
	left:-650px; 
	transform: scale(0.6);
	text-decoration: none; 
    cursor: pointer;
    display: inline-block;
    transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out, color 0.4s ease-in-out;
	letter-spacing:2px;
	position: relative;
}

.zdjeciafooter1:hover{
    color: black;
    transform: scale(1.1);	
}

.zdjeciafooter2:hover{
    color: black;
    transform: scale(1.1);	
}

.zdjeciafooter3:hover{
    color: black;
    transform: scale(1.1);	
}

.zdjeciafooter1{
	border:2px solid white;
	margin:10px;
	background-color: transparent;
	padding:10px;
	text-decoration: none; 
    cursor: pointer;
    display: inline-block;
    transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out, color 0.4s ease-in-out;
	letter-spacing:2px;
	position: relative;

}
.zdjeciafooter2{
	border:2px solid white;
	margin:10px;
	background-color: transparent;
	padding:10px;
	text-decoration: none; 
    cursor: pointer;
    display: inline-block;
    transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out, color 0.4s ease-in-out;
	letter-spacing:2px;
	position: relative;
}
.zdjeciafooter3{
	border:2px solid white;
	margin:10px;
	background-color: transparent;
	padding:10px;
	text-decoration: none; 
    cursor: pointer;
    display: inline-block;
    transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out, color 0.4s ease-in-out;
	letter-spacing:2px;
	position: relative;

}

.menufooter{
	font-size:18px;
	padding:3px;
	margin:30px;
	letter-spacing:1px;
    text-decoration: none;
	color: #D3D3D3; 
    transition: color 0.4s ease; 
	position: relative;
    top: -310px;   
    left: -75px; 
}

.menufooter:hover{
	color: white;
	text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
	transition: text-shadow 0.2s ease-in-out;	
}